@mixin mobile {
    @media screen and (max-width: 320px) {

       @content; 

    }
}

@media only screen and (min-width: 390px) and (max-width: 576px) {
    .patagonia-titulo {
      width: 100%;
      flex-direction: column;
      padding: 0%;
    }
   
  }

  @include mobile {
    .patagonia-titulo {
        width: 100%;
        flex-direction: column;
        padding: 0%;
      }
}