@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

a {
    text-decoration: none;
}

h1, h3, h6 {
    font-family: "Onest";
}

img {
    max-width: 100%;
}

.navbar {
    padding: 1rem 4rem;
    font-size: 16px;
    color: #323232;
  }

.logo {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


.menu {
    list-style-type: none;
    display: flex;
    gap: 1rem;
   
}

.menu-link {
    color: #323232;
}